// .hello {
//   position: relative;
//   color: rgb(255, 255, 255);
//   background-color: rgb(255, 0, 0);
//   width: 80px;
//   height: 50px;

//   &:hover .goodbye {
//     transform: translateX(150%);
//     color: red;
//   }
// }

// .goodbye {
//   position: absolute;
//   top: 0px;
//   left: 0px;
//   width: 80px;
//   height: 80px;
//   color: rgb(0, 0, 0);
//   background-color: rgb(51, 255, 0);
//   transform: translateX(100%);
// }

// Изменение фото
.btn {
  background-color: black;
  color: red;
  &:hover {
    color: black;
    background-color: red;
  }
}

.img {
  width: 400px;
}
